# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion project files
.idea/
cmake-build-*/
cmake-build-debug/
cmake-build-release/
CMakeFiles/
CMakeCache.txt
Makefile
compile_commands.json
Testing/
CTestTestfile.cmake
install_manifest.txt

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# User-specific files
*.swp
*.swo